{% extends "layout.html" %}
{% block content %}

    <div id="vertical">
        <div class="row">
            <div class="col-xs-12"><h1>Documentation</h1></div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Documentation</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse scrollspy" >
                            <ul class="nav navbar-nav">
                                <li><a href="#templatessection">Templates</a>
                                <ul>
                                    <li><a href="#sequenceconstructorstemplates">Sequence</a></li>
                                    <li><a href="#componentdefinitiontemplates">ComponentDefinition</a></li>
                                    <li><a href="#mapstotemplates">MapsTo</a></li>
                                    <li><a href="#sequenceannotationtemplates">SequenceAnnotation</a></li>
                                    <li><a href="#commonparticipationconstructors">Participation</a></li>
                                    <li><a href="#interactiontemplates">Interaction</a></li>
                                    <li><a href="#moduledefinitiontemplates">ModuleDefinition</a></li>
                                    <li><a href="#propertytemplates">Property Templates</a></li>
                                    <li><a href="#models">Model Templates</a></li>

                                </ul>
                                </li>
                                <li><a href="#codeexamples">Examples</a>
                                    <ul>
                                        <li><a href="toggleswitchexample">Toggle Switch</a></li>
                                    </ul>

                                </li>
                                <li><a href="#">Operators</a></li>
                                <li><a href="#">Keywords</a></li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                {% if templates %}

                    <section id="templatessection">
                    <h2>Standard Templates</h2>
                    </section>
                    <section id="sequenceconstructorstemplates">
                        <div class="example_header">
                        <h3 >Common Sequence Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.sequences.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.sequences.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    </section>


                    <div class="example_header">
                        <h3 id="componentdefinitiontemplates">Common ComponentsDefinition Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.componentDefinitions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.componentDefinitions.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="mapstotemplates">Common MapsTo Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.mapstos.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.mapstos.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="sequenceannotationtemplates">Common SequenceAnnotation Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.sequenceAnnotations.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.sequenceAnnotations.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="commonparticipationconstructors"> Common Participation Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.participations.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.participations.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="interactiontemplates">Common Interaction Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.interactions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.interactions.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="moduledefinitiontemplates">Common ModuleDefinition Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.moduleDefinitions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.moduleDefinitions.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="propertytemplates">Property Templates</h3>
                        <p>
                            When assigning a component within a component definition without an access template, it defaults to having a public access and so does not have to explicitly expand from the public templates below.

                        </p>
                        <p>
                            When assigning a functionalcomponent without an access template, it defaults to having a public access with the direction inout.
                        </p>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.propertyConstructors.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.propertyConstructors.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="models">Model Templates</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.models.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre><code class="language-sbolshorthand">{{ templates.models.getExamples()[key] }}</code></pre>
                            {% endfor %}
                        </div>
                    </div>
<hr/>
                <h2 id="codeexamples">Examples</h2>
                    <br/>
                    <h3 id="toggleswitchexample">Toggle Switch</h3>
                    <br/>
                    <div class="examplecode">
                    <pre><code class="language-sbolshorthand">
                        {{ examplecode }}
                    </code></pre>
                    </div>

                {% endif %}
                <p class="diagram">
                    <a href="{{ url_for('static',filename='images/templating/templating_1.svg') }}"><img class="diagram"
                                                                                                         src="{{ url_for('static',filename='images/templating/templating_1.svg') }}"/></a>
                </p>

                <p class="diagram">
                    <a href="{{ url_for('static', filename='images/templating/templating_2.svg') }}"><img
                            class="diagram"
                            src="{{ url_for('static', filename='images/templating/templating_2.svg') }}"/></a>

                </p>

                <p class="diagram">
                    <a href="{{ url_for('static', filename='images/templating/templating_3.svg') }}"><img
                            class="diagram"
                            src="{{ url_for('static', filename='images/templating/templating_3.svg') }}"/></a>

                </p>
            </div>
        </div>
    </div>

{% endblock %}