{% extends "layout.html" %}
{% block content %}

    <div id="vertical">
        <div class="row">
            <div class="col-xs-12"><h1>Documentation</h1></div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Documentation</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <div id="navbar1">
                            <ul class="nav navbar-nav">
                                <li><a href="#templatessection">Templates</a></li>
                                <ul>
                                    <li><a href="#sequenceconstructorstemplates">Sequence</a></li>
                                    <li><a href="#componentdefinitiontemplates">ComponentDefinition</a></li>
                                    <li><a href="#mapstotemplates">MapsTo</a></li>
                                    <li><a href="#sequenceannotationtemplates">SequenceAnnotation</a></li>
                                    <li><a href="#commonparticipationconstructors">Participation</a></li>
                                    <li><a href="#interactiontemplates">Interaction</a></li>
                                    <li><a href="#moduledefinitiontemplates">ModuleDefinition</a></li>
                                    <li><a href="#propertytemplates">Property Templates</a></li>
                                </ul>
                                <li><a href="#">Operators</a></li>
                                <li><a href="#">Keywords</a></li>
                            </ul>
                            </div>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                {% if templates %}

                    <h2 id="templatessection">Standard Templates</h2>
                    <div class="example_header">
                        <h3 id="sequenceconstructorstemplates">Common Sequence Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.sequences.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.sequences.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>

                    <div class="example_header">
                        <h3 id="componentdefinitiontemplates">Common ComponentsDefinition Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.componentDefinitions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.componentDefinitions.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="mapstotemplates">Common MapsTo Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.mapstos.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.mapstos.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="sequenceannotationtemplates">Common SequenceAnnotation Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.sequenceAnnotations.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.sequenceAnnotations.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="commonparticipationconstructors"> Common Participation Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.participations.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.participations.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="interactiontemplates">Common Interaction Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>
                            {% for key in templates.interactions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.interactions.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="moduledefinitiontemplates">Common ModuleDefinition Constructors</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.moduleDefinitions.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.moduleDefinitions.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="example_header">
                        <h3 id="propertytemplates">Property Templates</h3>
                        <button class="btn btn-primary toggle_button" type="button" data-toggle="collapse">+</button>
                        <div class="example_collapse" hidden>

                            {% for key in templates.propertyConstructors.getExamples()  %}
                                <h4>{{ key }}</h4>
                                <pre>{{ templates.propertyConstructors.getExamples()[key] }}</pre>
                            {% endfor %}
                        </div>
                    </div>


                {% endif %}
                <p class="diagram">
                    <a href="{{ url_for('static',filename='images/templating/templating_1.svg') }}"><img class="diagram"
                                                                                                         src="{{ url_for('static',filename='images/templating/templating_1.svg') }}"/></a>
                </p>

                <p class="diagram">
                    <a href="{{ url_for('static', filename='images/templating/templating_2.svg') }}"><img
                            class="diagram"
                            src="{{ url_for('static', filename='images/templating/templating_2.svg') }}"/></a>

                </p>

                <p class="diagram">
                    <a href="{{ url_for('static', filename='images/templating/templating_3.svg') }}"><img
                            class="diagram"
                            src="{{ url_for('static', filename='images/templating/templating_3.svg') }}"/></a>

                </p>
            </div>
        </div>
    </div>

{% endblock %}